.country {
  padding: 30px;
  border: 2px solid rebeccapurple;
  background-color: black;
  margin: 10px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.visited {
  border: 2px solid rgb(75, 40, 15);
  background-color: rgba(255, 60, 0, 0.411);
}
.image {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 50%;
}
